 
h1{
    text-align: center;
}

.img-center{
    
    text-align: center;
}
img{
  display: block;
  margin: auto;
}

.text-1{
    text-align: center;
}

.text-2{
text-align: center;
font-size: 50px;
margin-bottom: 2px;
}

#container {
    background-color: #ffffff;
    width: 540px;
    border:dotted green;
    margin: 0 auto;
    padding: 10px;
  }
  
  #time {
    color: green;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: .5rem;
  }
  
  /* #buttons {
    font-size: 3rem;
    text-align: center;
  }
  
  #start, #stop, #reset {
    font-size: 1.5rem;
    border-radius: .3rem;
  } */
  .button{
    display:block;
    background-color: green;
    color: #fefefe;
    margin:50px auto;
    padding:10px 20px;
    font-size: large;
    border:none;
    width: fit-content;
  }