.size{
    font-size:x-large;
}

.adult-side{
    display: block;
    text-align: center;

}

.kids-side{
    display: block;
    text-align: center;


}

.drop-adult{
    width: 500px;
   margin: auto;

}


.payment-button{
    display: block;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
}


#adult-ticket-number{
    padding:0 300px 0 10px;
}
#kids-ticket-number{
    padding:0 300px 0 10px;
}

