/* 全体のレイアウト */
.layout-section {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

/* 画像のラッパー */
.image-wrapper {
    flex: 1; /* 画像部分の比率を増やす */
    display: flex;
    margin-left: 10%;
}

/* 画像のスタイル */
.seat-select-img {
    border: solid 1px #000000;
    width: 65%; /* 画像の幅を少し大きく */
    margin: 3%;
    height: auto;
}

/* 詳細情報のラッパー */
.details-wrapper {
    flex: 2; /* 詳細部分の比率を減らす */
    padding: 20px;
    border: 1px #adadad solid;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 20px 20px 20px 1rem;
    max-width: 350px; /* 最大幅を設定 */
    margin-right: 10%;
}

/* 各詳細行のスタイル */
.detail-line {
    margin: auto;
    width: 100%; /* 幅を100%に */
    padding: 0.3rem; /* パディングを少し減らす */
    background-color: #f9f9f9;
}

/* テキストのスタイル */
.detail-line p {
    margin: 5px;
    color: #000;
}

/* マッチ詳細のスタイル */
.match-details p {
    text-align: left;
    font-size: 1rem; /* フォントサイズを少し小さく */
    font-weight: bold;
}

.match-details h1 {
    text-align: left;
    font-size: 1.2rem; /* フォントサイズを少し小さく */
}

/* 座席詳細のスタイル */
.seat-details {
    margin-top: 0.5rem; /* マージンを少し減らす */
}

.detail-line a {
    color: rgb(37, 94, 35) !important;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.detail-line a:hover {
    color: rgb(0, 141, 33) !important;
}

.seat-link, .seat-link2 {
    text-align: left;
}

.seat-link3 {
    top: 0%;
    text-align: right;
}